FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_ID=
FIREBASE_PROJECT_ID=
GEMINI_API_KEY=
GEMINI_MODEL=
GOOGLE_CLIENT_ID=
GOOGLE_DRIVE_TOKEN=
GOOGLE_PROJECT_ID=
SPOTIFY_TOKEN=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_DATABASE_ID=
VITE_FIREBASE_OAUTH_CLIENT_ID=
VITE_FIREBASE_PROJECT_ID=
YOUTUBE_API_KEY=